
{% extends 'base.html' %}

{% block content %}
	<div class="row">
		{% for video in videos %}
			<div class="col-auto mb-3">
				<div class="card">
					<div class="card-body">
						<div class="d-flex justify-content-between">
							<div>
								<h5 class="card-title">{{ video.date }}</h5>
							</div>
							<div>
								<!-- <a href="/videos/delete/{{video.file}}" class="video-delete"><i class="fas fa-trash"></i></a> -->
								<input type="checkbox" class="video" data-file="{{video.file}}">
							</div>
						</div>
						<video width="100%" controls preload="none">
							<source src="/videos/{{video.file}}" type="video/mp4">
							Your browser does not support the video tag.
						</video>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="row pt-4">
		<div class="col-md-12">
			<a id="delete" href="#"><b><i class="fas fa-trash"></i> Delete selected videos</b></a>
		</div>
	</div>	
	<script>
		/*
		$(".video-delete").click(function()
		{
			var href = $(this).attr("href");
			event.preventDefault();
			bootbox.confirm("Are you sure ?", function(callback)
			{
				if(callback)
				{
					window.location.href = href;
				}
			});
		});
		*/
		$("#delete").click(function()
		{
			event.preventDefault();
			if($(".video:checked").length != 0)
			{
				if(confirm("Confirm delete ?"))
				{
					$('.video:checked').each(function()
					{
						$.ajax(
						{
							url:"/videos/delete/" + $(this).data("file"),
							method: 'get',
							async: false
						});
					});
					location.reload();
				}
			}
			else
			{
				alert("There are no videos to delete");
			}
		});		
	</script>
{% endblock %}

